%extend_FontMontserrat {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
}
%extend_FontMontserrat_40_reg {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 200;
}

%extend_FontMontserrat_40_ {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}

%extend_FontMontserrat_60_reg {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 200;
}
%extend_FontNosiferCaps {
  font-family: "Nosifer", sans-serif;
  font-size: 96px;
}
%extend_Montserrat {
  font-family: "Montserrat", sans-serif;
}
